.box1{
    background-color: #7d5b8c; 
    height: 120px; 
}

.box2{
    background-color: #7d5b8c;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: black;
}

.textos{
   color: black;
}